SUBSYSTEM=="usb", ATTR{idVendor=="1c75", ATTR{idProduct}=="af80", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="1c75", ATTR{idProduct}=="af80", RUN+="/bin/chmod 666 /sys/bus/usb/devices/%k/authorized"
